*{box-sizing: border-box;}

body{
    /* background-image: linear-gradient(90deg, #7d5fff, #7158e2); */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg{
    background: url('.//diante-squire-OSbqwHuy-4A-unsplash.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(0px);
}

.loading-text{
    font-size: 50px;
    color: white;
}